

.image-edit-fragment {
    margin: 10px;
    padding: 10px;
    border: solid grey 1px;
    border-radius: 5px;
    display: flex;
}

.image-edit-fragment-img {
    margin-right: 10px;
    display: flex;
}

.image-edit-fragment-img > img {
    margin-top: auto;
    margin-bottom: auto;
}

.image-edit-fragment-form {
    width: 100%;
}

.image-edit-fragment-action {
    margin-left: 10px;
    text-align: center;
    display: flex;
}

.image-edit-fragment-action > span {
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.image-list {
    margin-top: 10px;
}

.image-item {
    display: flex;
    padding: 5px;
    border: solid lightgrey 1px;
    border-radius: 3px;
    margin: 5px;
}

.image-item:hover{
    transform: scale(1.10);
    transition: transform 200ms ease-in-out;
    border: solid grey 2px;
}

.image-item-selected{
    border: solid grey 2px;
    background-color: var(--green);
}


.image-item:hover .image-item-action{
    display: block;
}


.image-item > img {
    margin: auto;
    cursor: pointer;
}

.image-item-action {
    position: absolute;
    border: solid lightgrey 1px;
    border-radius: 5px;
    color: grey;
    cursor: pointer;
}


.image-item-action-options {
    right: 5px;
    top: 5px;
}

.image-item-action-select {
    left: 5px;
    top: 5px;
}

.image-item-action-edit {
    bottom: 5px;
    right: 5px;
    top: none;
}

.image-item > span:hover {
    color: grey;
    background-color: lightgrey;
}

.hide {
  display: none;
}

.image-list {
    display: grid;
    grid: minmax(150px, min-content) / repeat(auto-fill, 150px);
    margin: auto;
}


.btn-image-list {
    border: solid 2px var(--dark-blue);
    border-radius: 7px;
    background-color: var(--light-blue);
    color: var(--white);
    margin-left: 10px;
}


.btn-image-list-selection {
    border: solid 2px var(--green);
    border-radius: 7px;
    background-color: var(--green);
    color: var(--white);
    margin-left: 10px;
}
.btn-image-list-selection-red {
    border: solid 2px var(--red);
    border-radius: 7px;
    background-color: var(--red);
    color: var(--white);
    margin-left: 10px;
}


.custom-dropdown {
    display: none;
    position: relative;
    left: -120px;
    z-index: 100;
    background-color: var(--yellow);
    border-radius: 5px;
    height: max-content;
    border: solid 1px var(--red);
}

.custom-dropdown > .dropdown-item {
    cursor: pointer;
}

.dropdown-background {
    z-index: 99;
    background-color: #0000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;

}

.image-list-action-line {
    margin-bottom: 5px;
}