
/*
 dark-blue: #073B4C
 light-blue: #118AB2
 green: #06D6A0
 yellow: #FFD166
 red: #EF476F
*/

:root {
     --dark-blue: #073B4C;
     --light-blue: #118AB2;
     --green: #06D6A0;
     --yellow: #FFD166;
     --red: #EF476F;
     --black: #000000;
     --white: #ffffff;
}


:root {
    --color-yes: var(--green);
    --color-no: var(--red);
    --color-cancel: var(--dark-blue);
}


.color-yes {
    color: var(--color-yes);
}

.color-no {
    color: var(--color-no);
}

.color-cancel {
    color: var(--color-cancel);
}

.bg-color-yes {
    background-color: var(--color-yes);
}

.bg-color-no {
    background-color: var(--color-no);
}

.bg-color-cancel {
    background-color: var(--color-cancel);
}
