<!doctype html>
<html lang="fr" xmlns:btn="http://www.w3.org/1999/html">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/static/css/third-party/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >
    <link href="/static/css/common/theme.css" rel="stylesheet">
    <link href="/static/css/common/common.css" rel="stylesheet">
    <link href="/static/css/common/select.css" rel="stylesheet">
    <link href="/static/css/common/tags.css" rel="stylesheet">
    <link href="/static/css/common/image.css" rel="stylesheet">
    <link href="/static/css/common/toast.css" rel="stylesheet">
    <link href="/static/css/common/modal.css" rel="stylesheet">
    <link href="/static/css/common/page.css" rel="stylesheet">
    <link href="/static/css/common/nav.css" rel="stylesheet">
    <link href="/static/css/app/nav.css" rel="stylesheet">

</head>
<body>
    {% csrf_token %}

    <div id="root"></div>
    <div id="app-toast-host"></div>
    <div id="app-modal-host"></div>



    <script>
        const DATA = {% autoescape off %}{{bootstrap_data}}{% endautoescape %};
    </script>


    {% autoescape off %}
     {{ include_script }}
    {% endautoescape %}
</body>
</html>